<div flex layout-gt-sm="column" layout-align="center space-between">
    <h2>Foire aux questions</h2>
    <div ng-repeat="faq in FAQ">   
        <md-card flex ng-init="open=false" ng-blur="open=false" ng-click="open=!open">
            <md-card-title >
                <md-card-title-text>
                    <h3 style="cursor: pointer;" ng-bind-html=renderHtml(faq.titre)></h3>
                </md-card-title-text>
            </md-card-title>
            <md-card-content  flex ng-class="{ 'FAQopen': open==true, 'FAQclose': open==false }">
                <div id="id{{faq.index}}" ng-bind-html="renderHtml(faq.content)"></div>
            </md-card-content>
        </md-card>
    </div>
</div>