<nav ng-if="currentUser" ng-controller="HeaderCtrl" class="navbar navbar-default navbar-static-top col-xs-12 ">
  <div class="row">
  <div class="navbar-header col-xs-12 col-sm-12 col-md-2 col-lg-4 align">
    <a href="/" class="navbar-brand col-xs-6 col-sm-12 col-md-12 col-lg-12">A Social Network For You</a>
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed" ng-blur="collapsed()">
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse align col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <ul class="nav navbar-nav align">
        <li ng-class="{ active: isActive('/')}"><a href="/">Home</a></li>
        <li ng-class="{ active: isActive('/monProfil')}"><a href="/monProfil">Profil</a></li>
        <li ng-class="{ active: isActive('/listeAmis')}"><a href="/listeAmis">Amis</a></li>
        <li ng-class="{ active: isActive('/messages#bottom')}" role="presentation">
          <a href="/messages#bottom">Messages
            <span ng-class="{'notification-exist badge': nbmessage>0}">
              {{nbmessage}}
            </span>
          </a>
        </li>
        <li ng-class="{ active: isActive('/chat')}"><a href="/chat">chat</a></li>
        <li ng-class="{ active: isActive('/notifications')}" role="presentation">
          <a href="/notifications">notifications 
            <span ng-class="{'notification-exist badge': nbnotification}">
              {{nbnotification}}
            </span>
          </a>
        </li>
      </ul>  
  </div>
    <div class="navbar-header col-sm-4 col-md-4 col-lg-4">
       <ul ng-if="isAuthenticated()" class="nav navbar-nav navbar-right col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <li class="dropdown" >
          <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle"> <img ng-src="{{currentUser.picture || currentUser.gravatar}}"> {{currentUser.name || currentUser.email || currentUser.id }} <i class="caret"></i> </a>
          <ul class="dropdown-menu">
            <li><a href="/account">My Account</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="logout()" }>Logout</a></li>
          </ul>
        </li>
      </ul>

    <div class="row">
      <form class="navbar-form navbar-left col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <div class="form-group"> 
          <input type="search" class="form-control" placeholder="Rechercher quelqu'un" data-ng-model="search.name" required ng-blur="blur()"> 
        <ul class="list-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="isAuthenticated();search.name;"  ng-message="required" >
          <li class="list-group-item" ng-show="search" data-ng-repeat="i in items | filter:search:strict">
            <a ng-click="viewProfil(i._id)"> <img ng-src="{{i.image}}" />
              <p>{{i.name}}</p>
            </a>
          </li>
        </ul>
        </div>
          </div>
      </form>  

      </div>
</div> 
</nav>