<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel alert alert-info">
        <div class="panel-body">
          <h3>membres connectés en temps réel : {{nbUserConnected.nbUserConnected}}</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel alert alert-info">
        <div class="panel-body">
          <h3>Nombre de messages publics publiés : {{nbMessagePublicEnvoyes}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
