<div class="container-fluid">
    <div class="row">
        <div  data-ng-repeat="ami in membres">
        <div class="panel col-sm-3 col-md-3 col-lg-3">
                <div class="panel-title">{{ami.name}}</div>
                <img class="col-sm-12 col-md-12 col-lg-12" src="{{ami.gravatar}}">
                <div class="panel default col-md-12">
                    <div>{{ami.ami.length}} ami(s) </div>
                    <div>wall {{ami.messagePublicsRecus.length}} post(s)</div> 
                </div>    
                <button class="btn btn-success col-md-12" ng-click="viewProfil(ami.id)"> voir son profil </button>
                <button class="btn btn-primary col-md-12" ng-click="viewProfil(ami.id)"> recommander </button>
                <button class="btn btn-danger col-md-12" ng-click="supprimerAmi(ami.id)"> supprimer </button>
                <div class="panel-body">
                    <div for="name" class="col-sm-2" ng-show="ami.status=='attenteAjout'||ami.status=='recomandéPar'">
                        <h3 style="cursor: pointer;" ng-bind-html=renderHtml(ami.status)>{{ami.status}}</h3>
                        <h3 ng-show="amis.status=='recomandéPar'"> {{ami.recomandation}} </h3>
                        <button class="success">accepter</button>
                        <button class="md-primary"> refuser</button>
                    </div>
                </div>         
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>
