<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">MESSAGES</h3> </div>
      <hr>
    <div class="panel-body">
     <div class="row">
    <div class="panel col-sm-2">
      amis
      <hr>
      <div class="panel btn btn-default col-sm-12" ng-repeat="ami in amis" ng-click="voirAmisMessages(ami.id,ami.name)">
      <span >{{ami.name}} 
      <span ng-if="ami.countNoViewMessages>0"ng-class="{'notification-exist badge btn-danger': ami.countNoViewMessages > 0}">
              {{ami.countNoViewMessages}}
            </span>
      
      </div>
    </div>
    <div  class="panel message col-sm-8">
      messages
      <hr>
      <div   ng-repeat="messages in MessagesPrivesRecus">
        <p>{{messages.createdAt | date:'yyyy-MM-dd HH:mm:ss '}}</p> 
        <div  ng-class="{'btn btn-info ': messages.emetteur === user._id, 'btn btn-default': messages.emetteur !== user._id }">
          <p>{{messages.message}}</p> 
          </div> 
          <p ng-if="messages.emetteur === user._id">{{user.name}}</p>
          <p ng-if="messages.emetteur !== user._id">{{currentAmiMessageName}}</p>
          <hr>
        </div>   
        <div ng-show="currentAmiMessageName">
      <input type="text" ng-model="texteduMessage"/>
        <button type="submit" ng-click="envoyerMessagePrives(select,texteduMessage)" class="btn btn-success">Envoyer</button>
      </div>   
      </div>
      
      </div>
    </div>
  </div>
</div>