<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <div class="panel">
        <div class="panel-body">
          <h3>Heading</h3> <img src="http://www.babelio.com/users/AVT_Anonyme_7683.jpeg">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p> <span class="md-title">{{ul.selected[1].game[0].name}}</span> <span class="md-subhead ">Cash Price : {{ul.selected[1].game[0].price}}</span>
          <div class="list-group">
            <a href="#" class="list-group-item active">
              <h4 class="list-group-item-heading">messages</h4>
              <p class="list-group-item-text"> </p>
              <p class="list-group-item-text"> </p>
              <p class="list-group-item-text">...</p>
              <p class="list-group-item-text">...</p>
            </a>
          </div> <a href="#" role="button" class="btn btn-default">View details</a> </div>
      </div>
    </div>
  </div>
</div>
     