<div class="container">
  <div class="panel">
    <div class="panel-body">
      <form ng-submit="changePassword()" class="form-horizontal">
        <legend>Change Password</legend>
        <div class="form-group">
          <div class="col-sm-7">
            <input type="password" ng-hide="true"name="password" value="rien" placeholder="mot de passe" id="password" class="form-control" ng-model="profile.password">
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="col-sm-3">Nouveau Mot de Passe</label>
          <div class="col-sm-7">
            <input type="password" name="confirm" placeholder="mot de passe" id="confirm" class="form-control" ng-model="profile.confirm">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-3">
            <button type="submit" class="btn btn-success">Change Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body">
      <form ng-submit="deleteAccount()" class="form-horizontal">
        <legend>Delete Account</legend>
        <div class="form-group">
          <p class="col-sm-offset-3 col-sm-9">You can delete your account, but keep in mind this action is irreversible.</p>
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-danger">Delete my account</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
